body{
    margin:0px;
    padding:0px;
    background-color: rgb(29, 172, 172);
    box-sizing: border-box;
}
.container{
    width: 350px;
    height:430px;
    background: #fff;
    border-radius: 9px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 0px 3px 3px #000;
}
.image{
    background: white;
    width:80px;
    height:80px;
    border-radius: 50%;
    padding:5px;
    transform: translate(130px,110px);
}
.image img{
    width:80px;
    height:80px;
    border-radius: 50%;
}
.card1{
    height:150px;
    background-image: url(bg-pattern-card.svg);
    border-radius: 9px;
}
.card2{
    height:280px;
}
.card2 div{
    margin-left:120px;
    margin-top:60px;
}
